@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap');

/*------------------------------*/
/*         VARIÁVEIS CSS        */
/*------------------------------*/
:root {
    /*--------- CORES ---------- */
    --bg-color-primary: #E4C3AD;
    --bg-color-secundary: #E9CCB9;
    --bg-color-terciary: #FFF6F6;
    --title-color-light: #fff; 
    --title-color-dark: #C6A385; 
    --text-color-light: #fff;
    --text-color-dark: #685548; 
    --menu-color: #fff;

    /*--------- FONTE ---------- */
    --font-primary: 'Poppins', sans-serif; 
    --font-secondary: 'Roboto', sans-serif; 
}

/*------------------------------*/
/*     CONFIGURAÇÕES GERAIS     */
/*------------------------------*/

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    background-color: var(--bg-color-primary);
}

h1 {
    color: var(--text-color-light);
    font-weight: bold;
    font-size: 48px;
}

h2 {
    font-family: 'Roboto';
    color: var(--text-color-light);
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
}

h4 {
    color: var(--text-color-light);
    font-weight: normal;
    font-size: 24px;
}

p {
    font-size: 24px;
    color: var(--text-color-dark);
}

span {
    font-size: 24px;
    color: #362d28;
}

a {
    font-size: 20px;
    font-weight: normal; 
    color: var(--menu-color);
    text-decoration: none;
}

/*------------------------------*/
/*       MENU DE NAVEGAÇÃO      */
/*------------------------------*/

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

nav a {
    margin-right: 40px;
    transition: 0.5s;
}

nav a:hover {
    background-color: #685548;
    border-radius: 10px;
    padding: 2px 10px;
}

/*------------------------------*/
/*       SEÇÃO PRINCIPAL        */
/*------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

header .header-content {
    width: 30%;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 50px;
}

header .header-logo {
    display: flex;
    margin: 20px 0 30px 0;
}

header .logo {
    width: 15%;
    margin-left: 15px;
}

header .header-content h2 {
    margin: 60px 0 40px 0; 
}

header .header-content h4  {
    margin-bottom: 25px;
}

header .header-content a {
    text-align: center;
    width: 25%;
    border-radius: 10px;
    padding: 2px 10px;
    background-color: #C6A385;
    transition: 0.5s;
}

header .header-content a:hover {
    background-color: var(--text-color-dark);
}

header .home-banner {
    width: 45%;
    position: absolute;
    top: 10%;
    right: 10%;
}

/*------------------------------*/
/*         SEÇÃO SOBRE          */
/*------------------------------*/

section#sobre {
    background-color: var(--bg-color-terciary);
    padding: 70px 50px;
}

section#sobre h1 {
    color: var(--title-color-dark);
    margin: 30px 0;
}

section#sobre p {
    margin-bottom: 30px;
    line-height: 40px;
    text-align: justify;
}

/*------------------------------*/
/*        SEÇÃO PRODUTOS        */
/*------------------------------*/

section#produtos {
    background-color: var(--bg-color-secundary);
    padding: 70px 50px 110px 50px;
}

section#produtos h2 {
    font-size: 46px;
    color: var(--text-color-dark);
    margin: 30px 0; 
}

section#produtos p {
    margin: 30px 0;
    font-weight: 300;
}

#card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#card-container .card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.308);
    transition: 0.5s;
}

#card-container .card:hover {
    background-color: #EDEDED;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.329);
}

#card-container .card-image {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    border-radius: 10px 10px 0 0;
}

#card-container .card-content {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 70px; 
}

/*------------------------------*/
/*        SEÇÃO ENCOMENDAS      */
/*------------------------------*/

section#encomendas {
    background-color: var(--bg-color-terciary);
    padding: 70px 50px;
}

section#encomendas h2 {
    font-size: 46px;
    color: var(--title-color-dark);
    margin: 30px 0;
}

section#encomendas p {
    margin-bottom: 20px;
}

/*------------------------------*/
/*          FORMULÁRIO          */
/*------------------------------*/

form {
    width: 500px;
    margin: auto;
}

form label {
    color: #362d28;
    font-size: 16px;
}

form input, select, textarea {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 15px;
    color: #000000;
    font-family: 'Roboto';
    font-size: 16px;
    border: 1px solid #1d1714
}

form select {
    padding-left: 8px;
}

form fieldset {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #1d1714;
    background-color: #fff;
}

form fieldset legend {
    color: #362d28;
}

form fieldset #delivery #local {
    display: flex;
    flex-direction: column;
}

form fieldset input[type="radio"] {
    width: 15px;
    height: 15px; 
    margin-left: 30px;
}

form textarea {
    height: 80px; 
}

/*------------------------------*/
/*     FORMULÁRIO - BOTÕES      */
/*------------------------------*/

form .form-button {
    display: flex;
}

form input[type="submit"], form input[type="reset"] {
    padding: 0;
    margin: 20px;
    border-radius: 8px;
    background-color: #E9CCB9;
    color: #fff;
    border: 0;
    transition: 0.5s;
}

form input[type="submit"]:hover, form input[type="reset"]:hover {
    background-color: #362d28;
}

/*------------------------------*/
/*           RODAPÉ             */
/*------------------------------*/

footer p {
    text-align: center;
    line-height: 40px;
    margin: 0;
    padding: 10px;
}

footer p strong {
    font-size: 24px;
}

footer a {
    text-decoration: none;
    color: var(--text-color-dark);
    transition: 0.5s;
}

footer a:hover {
    color: #1d1714;
}